auto-sklearn==0.12.0
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
cloudpickle==1.6.0
ConfigSpace==0.4.16
Cython==0.29.21
dask==2020.12.0
distributed==2020.12.0
docutils==0.16
HeapDict==1.0.1
idna==2.10
joblib==1.0.0
lazy-import==0.2.2
liac-arff==2.5.0
msgpack==1.0.2
numpy==1.19.4
pandas==1.1.5
psutil==5.8.0
pynisher==0.6.3
pyparsing==2.4.7
pyrfr==0.8.0
python-dateutil==2.8.1
pytz==2020.5
PyYAML==5.3.1
requests==2.25.1
scikit-learn==0.23.2
scikit-multilearn==0.2.0
scipy==1.5.4
six==1.15.0
smac==0.13.1
sortedcontainers==2.3.0
tblib==1.7.0
threadpoolctl==2.1.0
toolz==0.11.1
tornado==6.1
urllib3==1.26.2
zict==2.0.0
